@import '../base/typography.scss';
@import '../base/variables.scss';


.card {
  display: flex;
  flex-direction: column;
  
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    z-index: 1;
    background-color: $color-white;
    box-shadow: .1rem .1rem .5rem rgba(97, 102, 102, .5);
  }

  &__body {
    padding: 2rem 3rem;
  }

  &__result {
    text-align: center;
    padding: .5rem 0 2rem 0;
    box-shadow: .1rem .1rem .5rem rgba(97, 102, 102, .5);

    &-text {
      padding: .5rem 0 0 0;
    }

    &-weight {
      font-size: 4rem;
      margin: 0;
    }
  }
}

