.card {

    &__container {
      position: relative;
      z-index: 1;
      margin: 3rem;
      width: 75vw;
      height: 75vh;
      perspective: 1000;
      background-color: white;
      box-shadow: .5rem .51rem 1rem #888;

    }
}