/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
*/


.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  //display: flex;
  //flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c5cee0;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

*/


$color-red-dark: #ED1F24;
$color-red-light: #F4787B;

$color-orange-dark: #FB6F1B;
$color-orange-light: #FBA51B;

$color-yellow-dark: #FBD61B;
$color-yellow-light: #FFFDB1;

$color-green-dark: #21A612;
$color-green-light: #6DFF5D;

$color-grey-black: #2D2E2F;
$color-grey-dark: #616666;
$color-grey-middle: #87888C;
$color-grey-light: #D8D8D8;
$color-grey-white: #F6F8FF;

$color-white: #ffffff;
