@import '../../styles/base/variables';

.btn{
    width: 50%;
    height: 4rem;
    margin-top: 1.5rem;
    background-image: radial-gradient(#21A612, #6DFF5D);
    box-shadow: .2rem .2rem .5rem #87888C;
    color: $color-white;


    &:hover {
        transform: scale(.95);
        box-shadow: .25rem .25rem .5rem #87888C;
    }

    &:active {
        transform: scale(1.05);
    }
};