@import '../../styles/base/variables';

.input {
    box-sizing: border-box;
    margin: 1rem 0 0 0;
    height: 2.6rem;
    width: 100%;
    padding: .1rem .6rem;
    background-color: $color-green-light;
    border: none;
    font-size: .9rem;

    &:focus {
        outline: 0;
        border: none;
        border-bottom: 1px solid #6DFF5D;
        
    }
}