body {
    font-family: Lato, Roboto, Noto Sans, sans serif;
    font-size: 1rem;  // 16px;
}

.heading__big {
font-size: 3rem;
}

.btn__text {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;

}